h1 {
  color: blue;
}

.red h3{
  color: red;
}

.green h3{
  color: green;
}

.boxed {
  border: 2px black solid ;
  border-radius: 10px;
  padding: 8px;
  margin-top: 5px;
}

.keg-info {
  margin: 5px;
  padding: 8px;
}
